/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: nunito, Arial, sans-serif;
    background: linear-gradient(#F6FAFD 10%, #fff 100%) no-repeat;
}

:root {
    --purple: rgb(156, 105, 226);
    --pink: #F063B8;
    --blue: #2D9CDB;
    --mint: #68C9BA;
    --bold-texts-color: #212353;
    --texts-color: #4B5D68;
}

a {
    text-decoration: none;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 10px;
}

.logo {
    display: flex;
    align-items: flex-end;
    width: 50px;
    justify-content: space-between;
    position: relative;
}

.logo .purple {
    height: 20px;
    width: 20px;
    background-color: var(--purple);
    border-radius: 50%;
}

.logo .pink {
    height: 35px;
    width: 20px;
    background-color: var(--pink);
    border-radius: 10px;
}

.menu {
    display: none;
}

.fa-solid.fa-bars {
    position: absolute;
    font-size: 30px;
    color: var(--bold-texts-color);
    right: 10px;
    top: 3px;
}

@media (min-width: 768px) {
    .fa-solid.fa-bars {
        display: none;
    }

    .menu {
        flex-basis: 50%;
        display: inline-block;
    }
    
    .menu li {
        display: inline;
    }
    
    .menu li a {
        color: var(--bold-texts-color);
        padding: 0px 20px;
        font-size: 16px;
        cursor: pointer;
        line-height: 35px;
    }
    
    .menu li a:hover {
        font-weight: bold;
    }
}


/* Header */



/* Main */



/* Footer */


