/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: nunito, Arial, sans-serif;
    background: linear-gradient(#F6FAFD 10%, #fff 100%) no-repeat;
    max-width: 1200px;
    margin: auto;
}

:root {
    --purple: rgb(156, 105, 226);
    --pink: #F063B8;
    --light-pink-transparent: rgba(240, 99, 184, 0.15);
    --blue: #2D9CDB;
    --mint: #68C9BA;
    --bold-texts-color: #212353;
    --texts-color: #4B5D68;
}

a {
    text-decoration: none;
}

.padding {
    padding-left: 10px;
    padding-right: 10px;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 0px;
    position: relative;
}

.logo {
    display: flex;
    align-items: flex-end;
    width: 50px;
    justify-content: space-between;
    position: relative;
}

.logo .purple {
    height: 20px;
    width: 20px;
    background-color: var(--purple);
    border-radius: 50%;
    animation-name: logoBounce;
    animation-duration: 750ms;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-delay: 2s;
}

.logo .pink {
    height: 35px;
    width: 20px;
    background-color: var(--pink);
    border-radius: 10px;
    animation-name: logoBounce;
    animation-duration: 750ms;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;
    animation-delay: 2s;
}

@keyframes logoBounce {
    0%  {height: 20px; border-radius: 50%;}
    100% {height: 35px; border-radius: 10px;}
  }

.menu {
    display: none;
}

.fa-solid.fa-bars {
    position: absolute;
    font-size: 30px;
    color: var(--bold-texts-color);
    right: 10px;
    top: 3px;
}

@media (min-width: 768px) {
    .fa-solid.fa-bars {
        display: none;
    }

    .menu {
        flex-basis: 80%;
        display: inline-block;
    }
    
    .menu li {
        display: inline;
    }
    
    .menu li a {
        color: var(--bold-texts-color);
        padding: 0px 20px;
        font-size: 16px;
        cursor: pointer;
        line-height: 35px;
    }
    
    .menu li a:hover {
        font-weight: bold;
    }
}

nav button {
    padding: 20px 20px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 5px 2px rgba(75, 93, 104, 0.1);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 37.5px;
}

button i {
    color: var(--purple);
    font-size: 18px;
}

/* Header */

header {
    padding-top: 5em;
    padding-bottom: 5em;
    position: relative;
}

header h1 {
    font-family: Helvetica, nunito, sans-serif;
    font-size: 4.5em;
    text-align: center;
    font-weight: bold;
    color: var(--bold-texts-color);
}

header p {
    width: 80%; 
    padding: 50px 0;
    font-size: 18px;
    margin: auto;
    text-align: center;
}

header button {
    line-height: 60px;
    width: 170px;
    background-color: var(--purple);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    margin: auto;
}

header img {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0px;
    z-index: -1;
    opacity: 0.5;
}

@media (min-width: 992px) {
    header h1 {
        width: 60%;
        text-align: left;
    }
    
    header p {
        width: 30%;
        margin: 0;
        text-align: left;
    }

    header button {
        margin: 0;
        display: inline;
    }

    header img {
        width: 70%;
        opacity: 1;
        top: 160px;
    }
}

/* Main */

main {
    margin: 5em auto;
}

#about {
    background-color: var(--light-pink-transparent);
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#about img {
    width: 100%;
    max-width: 504px;
    display: block;
    margin: auto;
}

.container {
    margin: 2em 1em;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.container h2 {
    font-size: 2.5em;
    font-family: helvetica, nunito, sans-serif;
}

.container p {
    padding-top: 2em;
    font-size: 18px;
    letter-spacing: .5px;
    color: var(--texts-color);
}

@media (min-width: 992px) {
    main {
        margin: 10em auto;
    }

    #about div {
        display: flex;
    }

    #about img {
        float: left;
        width: 40%;
        padding-bottom: 2em;
    }
    
    .container {
        margin: 0 5em;
        text-align: left;
    }
}

/* Footer */


