/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: nunito, Arial, sans-serif;
    background: linear-gradient(#F6FAFD 10%, #fff 100%) no-repeat;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

:root {
    --purple: rgb(156, 105, 226);
    --pink: #F063B8;
    --light-pink-transparent: rgba(240, 99, 184, 0.15);
    --blue: #2D9CDB;
    --mint: #68C9BA;
    --bold-texts-color: #212353;
    --texts-color: #4B5D68;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: Helvetica, nunito, sans-serif;
}

h2 {
    font-size: 1.5rem;
}

p {
    letter-spacing: 1px;
    color: var(--texts-color);
}

@media (min-width: 768px) {
    h2 {
        font-size: 2.25rem;
    }
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 0px;
    position: relative;
}

.logo {
    display: flex;
    align-items: flex-end;
    width: 50px;
    justify-content: space-between;
    position: relative;
}

.logo__purple {
    height: 20px;
    width: 20px;
    background-color: var(--purple);
    border-radius: 50%;
    animation-name: logoBounce;
    animation-duration: 750ms;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-delay: 2s;
}

.logo__pink {
    height: 35px;
    width: 20px;
    background-color: var(--pink);
    border-radius: 10px;
    animation-name: logoBounce;
    animation-duration: 750ms;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;
    animation-delay: 2s;
}

@keyframes logoBounce {
    0%  {height: 20px; border-radius: 50%;}
    100% {height: 35px; border-radius: 10px;}
  }

.menu {
    display: none;
}

.fa-solid.fa-bars {
    position: fixed;
    font-size: 30px;
    color: var(--bold-texts-color);
    left: 33px;
}

@media (min-width: 768px) {
    .fa-solid.fa-bars {
        display: none;
    }

    .menu {
        flex-basis: 80%;
        display: inline-block;
    }

    .menu li {
        display: inline;
    }

    .menu li a {
        color: var(--bold-texts-color);
        padding: 0px 20px;
        font-size: 16px;
        cursor: pointer;
        line-height: 35px;
    }

    .menu li a:hover {
        font-weight: bold;
    }
}

nav button {
    padding: 20px 20px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 5px 2px rgba(75, 93, 104, 0.1);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 37.5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

button i {
    color: var(--purple);
    font-size: 22px;
}

/* Header */

header {
    padding: 4.5rem 0;
    position: relative;
}

header h1 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: var(--bold-texts-color);
}

header p {
    width: 80%;
    padding: 50px 0;
    color: var(--bold-texts-color);
    margin: auto;
    text-align: center;
}

header button {
    line-height: 60px;
    width: 170px;
    background-color: var(--purple);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    margin: auto;
}

header img {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
    opacity: 0.5;
}

@media (min-width: 600px) {
    header h1 {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    header h1 {
        font-size: 4.5rem;
        width: 60%;
        text-align: left;
    }

    header p {
        width: 30%;
        margin: 0;
        text-align: left;
    }

    header button {
        margin: 0;
        display: inline;
    }

    header img {
        width: 70%;
        opacity: 1;
        top: 160px;
        right: 0;
        bottom: 0px;
    }
}

/* Main */

main {
    margin: 2rem auto;
}

#about {
    background-color: var(--light-pink-transparent);
    border-radius: 50px;
    overflow: hidden;
}

.about__card {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

#about img {
    max-width: 330px;
    display: block;
    margin: -10% auto 0 auto;
}

.about__content {
    margin: 2rem 1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.about__content h2 {
    padding-bottom: 2rem;
    width: 90%;
    margin: auto
}

.about__content p {
    width: 80%;
    margin: auto;
}

@media (min-width: 992px) {
    main {
        margin: 5rem auto;
    }

    .about__card {
        flex-direction: initial;
    }

    #about img {
        float: left;
        width: 40%;
        padding-bottom: 2rem;
        margin: auto;
    }

    .about__content {
        margin: 0 5rem;
        text-align: left;
    }

    .about__content h2 {
        width: 100%;
    }

    .about__content p {
        width: 100%;
    }
}

/* Features */

.features__title {
    padding: 10rem 0 5rem 0;
    text-align: center;
    margin: auto;
    width: 60%;
}

.features__title p {
    padding-top: 3rem;
}

.features__container {
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
}

.features__element {
    height: 365px;
    max-width: 100%;
    display: flex;
    align-items: center;
    background:
        url(./images/features/feature1/white-shape.svg) no-repeat top -30px right 5px,
        url(./images/features/feature1/small-circle.svg) no-repeat right 120px top 30px,
        url(./images/features/feature1/rectangle-1.svg) no-repeat right 0;
}

.features__element:nth-of-type(2) {
    background:
        url(./images/features/feature2/white-shape.svg) no-repeat bottom -25px right 0,
        url(./images/features/feature2/rectangle-2.svg) no-repeat right 0;
}

.features__element:nth-of-type(3) {
    background:
        url(./images/features/feature3/circle.svg) no-repeat top 20px right 20px,
        url(./images/features/feature3/rectangle-3.svg) no-repeat right 0;
}

.features__element:nth-of-type(4) {
    background:
        url(./images/features/feature4/white-shape.svg) no-repeat top -15px right 65px,
        url(./images/features/feature4/small-circle.svg) no-repeat bottom 30px right 30px,
        url(./images/features/feature4/rectangle-4.svg) no-repeat right 0;
}

.features__icon {
    max-width: 100%;
    height: auto;
}

.features--background {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
    width: 210px;
    flex-shrink: 1;
}

.features--background p {
    font-size: 16px;
    padding: 20px 0;
}

.features__content {
    flex-direction: column;
}

.features__content button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-family: nunito, helvetica, sans-serif;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 992px) {
    .features__container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .features__element,
    .features__element:nth-of-type(2),
    .features__element:nth-of-type(3),
    .features__element:nth-of-type(4) {
        background-size: contain;
        background-position: center;
    }
}

@media (min-width: 601px) {
    .features--background {
        text-align: left;
    }

    .features--background p {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .features__element {
        flex-direction: column;
    }

    .features__title {
        padding: 5rem 0;
    }

    .features__content button {
        align-self: center;
    }

    .features--background, .features--background p {
        margin: auto;
        width: 80%;
    }
}

/* Testimonials */

#testimonials {
    margin-top: 5rem;
    background-color: var(--purple);
    border-radius: 50px;
    padding-left: 90px;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 710px;
}

#testimonials h2 {
    color: #fff;
}

.testimonials__slides {
    display: flex;
    align-items: center;
    height: 50%;
}

.testimonials__item {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;
    border-radius: 50px;
    flex-shrink: 0;
    height: 100%;
    margin: 0 10px;
    border: 1px solid var(--purple);
    width: 40%;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
}

.testimonials__item:first-of-type {
    width: 65%;
}

.testimonials__container {
    display: flex;
    justify-content: center;
    height: 75%;

}

.testimonials__content {
    width: 65%;
    padding: 20px 10px 0 30px;
    overflow: hidden;
}

.testimonials__content:first-of-type {
    padding: 20px 60px 0 30px;
}

.testimonials__content p {
    line-height: 1.7;
}

.testimonials--link {
    font-size: 14px;
    padding: 10px 0 40px 0;
    color: var(--purple);
    display: block;
}

.testimonials--shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: linear-gradient(-90deg, #fff 25%, transparent 60%);
}

.testimonials__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 75px;
}

.testimonials__dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
}

.testimonials--dot {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
}

.testimonials--dot:nth-of-type(1) {
    background-color: var(--pink);
}

.testimonials--dot:hover {
    transform: scale(2);
}

.testimonials__arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 50px;
    color: #fff;
}

.fa-arrow-right {
    opacity: .5;
}

@media (max-width: 992px) {
    #testimonials {
        padding: 0;
        padding-bottom: 90px;
        margin-bottom: 50px;
        display: flex;
        overflow-y: hidden;
    }

    .testimonials__slides {
        flex-direction: column;
        justify-content: flex-start;
        order: 2;
    }

    .testimonials__item, .testimonials__item:first-of-type {
        width: 90%;
        margin-bottom: 20px;

    }

    .testimonials__nav {
         justify-content: center;
         margin: -50px;
    }

    .testimonials__arrows {
        display: none;
    }

    .testimonials--shadow {
        background: linear-gradient(0deg, #fff 35%, transparent 70%);
    }
}

/* Footer */


